* {
    box-sizing: border-box;
}

body {
    margin: 0;
  
    font-family: 'Fredoka One', cursive;
    font-family: 'Philosopher', sans-serif;
}

.navbar {
    position: relative;
    width: 550px;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;
}
.navbar--text{
    position: absolute;
    width: 109px;
    height: 16px;
    left: 244px;
    top: 20px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.4608px;
    line-height: 18px;
    letter-spacing: -0.075em;
    
    color: #FFFFFF;
     
}
.card {
    position: absolute;
    width: 550px;
    height: 704px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.card--marker {
    position: absolute;
    width: 7px;
    height: 9.55px;
    left: calc(50% - 7px/2 - 87.5px);
    top: calc(50% - 9.55px/2 - 227.23px);

    background: #DADADA;
}

.card--image {
    position: absolute;
    width: 125px;
    height: 168px;
    left: 40px;
    top: 100px;
    border-radius: 5px;
}

.card--link {
    position: absolute;
    width: 106px;
    height: 13px;
    left: 247px;
    top: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;

    text-decoration-line: underline;
    color: #918E9B;
}

.card--loc {
    position: absolute;
    width: 40px;
    height: 10px;
    left: 195px;
    top: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 12px;
    letter-spacing: 0.17em;
    color: #2B283A;
}

.card--title {

    position: absolute;
    width: 326px;
    height: 40px;
    left: 184px;
    top: 136px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;

    color: #2B283A;
}

.card--date {
    position: absolute;
    width: 319px;
    height: 11px;
    left: 184px;
    top: 183px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10.24px;
    line-height: 12px;

    color: #2B283A;
}

.card--details {
    position: absolute;
    width: 326px;
    height: 60px;
    left: 184px;
    top: 400px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    /* or 15px */


    color: #2B283A;
}